# built containers
*.sif

# dev containers
*dev*_*.def

# history file for R
.Rhistory

# vim
*.swp
*.swo

# alpine minirootfs
*alpine-minirootfs-*.tar.gz*

# tar and zip files
*.tar*
*.zip

# guix to squashfs output
*guix.out

# folders
MSP/
TDBP/
TDBP_gpu/
__MACOSX/

# licensed files
Wolfram_14.1.0_LIN_Bndl.sh
license-demo-univ-boisestate-08-31-2024-al-am
